
@{
    ViewBag.Title = "Contact";
}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand text-primary" href="/Home/Index">ANONYMOUS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link " href="/Home/Index">Home</a>
                <a class="nav-link " href="/Home/Services">Services</a>
                <a class="nav-link " href="/Home/Teams">Teams & member</a>
                <a class="nav-link active" aria-current="page" href="/Home/Contact">Contact</a>
            </div>
        </div>
    </div>
</nav>

<h2>Contact</h2>
<div class="container-fluid">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Name</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="*Roky">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Phone</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="01*****">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Query</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>

