
@{
    ViewBag.Title = "Index";
}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand text-primary"  href="#">ANONYMOUS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/Home/Index">Home</a>
                <a class="nav-link" href="/Home/Services">Services</a>
                <a class="nav-link" href="/Home/Teams">Teams & member</a>
                <a class="nav-link" href="/Home/Contact">Contact</a>
            </div>
        </div>
    </div>
</nav>

<div class="container overflow-hidden">
    <div class="row gx-5">
        <div class="col">
            <div class="p-3">
                <h2>Best Startup Focused Software Development Company In Bangladesh</h2><br />
                <p>We Help Tech-StartUp Business Grow Through Innovation And Technology. We Are Working Hard To Make Your Business Easier And Better</p>
                <br />
                <button type="button" class="btn btn-primary">Learn More</button>

            </div>
        </div>
        <div class="col">
            <div class="p-3"><img src="~/Resources/img1.png" alt="..."></div>
        </div>
    </div>
</div>


