
@{
    ViewBag.Title = "Services";
}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand text-primary"  href="/Home/Index">ANONYMOUS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link "  href="/Home/Index">Home</a>
                <a class="nav-link active" aria-current="page" href="/Home/Services">Services</a>
                <a class="nav-link" href="/Home/Teams">Teams & member</a>
                <a class="nav-link" href="/Home/Contact">Contact</a>
            </div>
        </div>
    </div>
</nav>
<h2>Services</h2>
<div class="container text-center">
    <div class="row g-3">
        <div class="col-4">
            <div class="px-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/Resources/img2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Web Development</h5>
                        <p class="card-text">Anonymous Deliver Creative And Trustful Web Experiences Through Innovative Technology And Continuous Support. We Make Responsive, User Friendly And Versatile Websites And Applications In-House.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="px-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/Resources/app.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">App Development</h5>
                        <p class="card-text">
                            Anonymous Are Developing Apps For Phones, Tablets, Smart Watches, And All Other Kinds Of Wearable Devices.We Make User Friendly And Versatile App For Boost Your Startup Or Business With Reasonable Budget .
                        </p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="px-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/Resources/soft.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Software Development</h5>
                        <p class="card-text">Anonymous Generate Creative And Trustful Software And Application Through Innovative Technology And Continuous Support. Our Software Services Including Customized Software Development.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="px-4">
                <div class="card" style="width: 18rem;">
                    <img src="~/Resources/GD.jpeg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Graphic Design</h5>
                        <p class="card-text">Anonymous Identify Latest Trends To Ensure Your Brand Remains Relevant, Useful And Loud On Social Media. We Drive Conversations For Your Brand Using Proactive, Innovative And Creative Communications.</p>
                        <a href="#" class="btn btn-primary">Learn More</a>
                    </div>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
    </div>
