
@{
    ViewBag.Title = "Index";
}

<h2 class="text-center text-primary">Employee</h2>

<ul class="nav nav-tabs bg-success justify-content-center">
    
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/Employee/RestaurantList">Restaurant List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Employee/CollectionRequestList">Collection Request</a>
        </li>
    
        <li>
            <a href="~/User/AddUser">Log Out</a>
        </li>
</ul>